* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.container {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 50px 0;
}

.calculadora {
    background: #252525;
    width: 700px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: auto;
}

.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 550px;
}

.numero {
    height: 80px;
    width: 80px;
    background: #fff;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    background: #B9D2D2;
}

.numero:last-child {
    margin-top: 20px;
    width: 80%;
    height: 40px;
}

input:disabled {
    background: #fff;
}

input {
    width: 80%;
    height: 70px;
    text-align: center;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.operadores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    margin: 0 auto;
}

.operador {
    height: 80px;
    width: 80px;
    background: #fff;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top: 35px;
    cursor: pointer;
    background: #FF5722;
}

@media only screen and (max-width: 1024px) {
    .calculadora {
        height: auto;
        width: 400px;
    }

    input {
        width: 100%;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .numero {
        height: 60px;
        width: 60px;
        margin: 10px;
    }

    .operador {
        height: 60px;
        width: 60px;
        margin: 20px 0 0 0;
    }

    .operadores {
        width: 100%;
        margin: 20px 0
    }
}