* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 50px 0;
}

.calculadora {
    background: #171717;
    width: 300px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: auto;
}

.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 550px;
}

.numero {
    height: 50px;
    width: 50px;
    color: #fff;
    margin: 5px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    background: #444444;
}

.numero:hover {
    background-color: #EFEAD8;
    color: #3c3c3c;
}

.numero:last-child {
    margin-top: 20px;
    width: 80%;
    height: 40px;
}

.numero:last-child:hover {
    background-color: #EFEAD8;
    color: #3c3c3c;
}

input:disabled {
    background: #fff;
}

input {
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.operadores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    margin:  auto;
    width: 100%;
    margin-top: 115px;
}

.operador {
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top: 10px;
    cursor: pointer;
    background: #DA0037;
}

.operador:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.numero:nth-child(14) {
    background-color: #DA0037;
}
